header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 16px;
}

#quizstart {
    font-size: 40px; 
    text-align: center;
}

#quizstart button {
    font-size: 30px;
    margin: 0 50%;
}

#quizquestion {
    visibility: hidden;
    text-align: center;

}

#quizend {
    visibility: hidden;
    text-align: center;
}

button:hover {
    background-color: green;
}